/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url(assets/Rota/Rota-Bold.otf);
    font-family: Rota;
}

body{
    height: 651px;
    width: 855px;
    font-family: rota;

}
.panels{
    height: 162px;
    width: 248px;
    padding: 15px;
    border-radius: 14.5px;
    background: #ececec;
    margin: 0 0px 15px 0px;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.title{
    font-weight: 700;
    font-family: rota;
    letter-spacing: 0px;
    font-size: 25px;
}